POSTGRES_USER=gamarrintintin
POSTGRES_PASSWORD=gamarrintintin
POSTGRES_DB=gamarrintintin
POSTGRES_PORT=5432

DATABASE_URL="postgresql://gamarrintintin:gamarrintintin@localhost:5432/gamarrintintin?schema=public"
JWT_SECRET="Vmy2aNM7anXTV8Cwk4W2T9aKGEKkMdsJ0hzLNLl4Th3fkzITPGZsKxdRh9vf7rHg0coGYm2NF/baF1eWbqhGRw=="
